@import '../../../../assets/style/colors';
@import '../../../../assets/style/vars';

.SlotSelector {

    width: 638px;

    .slotContainer {
        display: inline-block;
        background-image: url("/static_images/RSTools/Worn_equipment_interface.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 270px;
        height: 427px;

        .slots {
            position: relative;
            height: 100%;

            .slot {
                display: block;
                position: absolute;
                border: unset;
                height: 44px;
                width: 44px;
            }

            .slot:hover {
                background-color: $slot-hover;
            }

            .left {
                &-1 {
                    left: slot(left-slot1);
                }

                &-2 {
                    left: slot(left-slot2);
                }

                &-3 {
                    left: slot(left-slot3);
                }

                &-4 {
                    left: slot(left-slot4);
                }

                &-5 {
                    left: slot(left-slot5);
                }
            }

            .top {
                &-1 {
                    top: slot(top-row1);
                }

                &-2 {
                    top: slot(top-row2);
                }

                &-3 {
                    top: slot(top-row3);
                }

                &-4 {
                    top: slot(top-row4);
                }

                &-5 {
                    top: slot(top-row5);
                }
            }
        }
    }

    .inventoryContainer {
        display: inline-block;
        background-image: url("/static_images/RSTools/inventory_interface.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 226px;
        height: 427px;
        margin-left: 10px;

        .inventory {
            position: relative;
            height: 100%;

            .clickableArea {
                display: block;
                position: absolute;
                border: unset;
                height: 324px;
                width: 205px;
                left: 11px;
                top: 50px;
            }

            .clickableArea:hover {
                background-color: $slot-hover;
            }
        }
    }

    .summonContainer {
        display: inline-block;
        height: 427px;
        margin-left: 10px;

        .summonSlot {
            background-image: url("/static_images/RSTools/Summoning.png");
            background-repeat: no-repeat;
            background-size: cover;
            width: 118px;
            height: 118px;

            .clickableArea {
                display: block;
                border: unset;
                height: 100%;
            }
    
            .clickableArea:hover {
                background-color: $slot-hover;
            }
        }
    }
}