@import '../../../../../assets/style/breakpoints';
@import '../../../../../assets/style/colors';
@import '../../../../../assets/style/vars';

.PrayerPreset {
    font-family: 'Roboto', sans-serif;
    padding-left: 15vh;
    padding-right: 15vh;

    h5 {
        text-align: center;
    }

    .prayer-selection {
        text-align: center;

        .prayer {
            &-regular {
                background-color: #f7861b;
                border-color: #f7861b;
                margin-right: 1rem;
                padding: 1rem;
                font-size: calc(12px + 1vmin);
                font-weight: 600;
            }
    
            &-ancient {
                background-color:#6bc71f;
                border-color:#6bc71f;
                padding: 1rem;
                font-size: calc(12px + 1vmin);
                font-weight: 600;
            }
        }
    }

    .prayer-container {
        display: flex;
        justify-content: center;

        .prayerContainer {
            width: 75%;
            margin-top: 3rem;
            margin-bottom: 3rem;
            padding: 1rem;
            text-align: center;
            background-color: rgb(65, 74, 97);

            .prayer-img {
                width: 34px;
                height: 34px;
                margin-right: 5px;
                border: 2px solid transparent;
                border-radius: 50%;
            }

            .selected {
                border-color: #fcea94;
            }

            .prayer-img:hover {
                border-color: #fceb948f;
            }
        }
    }

    .clear-slot {
        text-align: center;
        margin-bottom: 1rem;
    }

    .scrollable-list {
        max-height: 25vh;
        overflow-y: auto;
    }

    .list-group-item {
        background-color: $body-background;
        border-color: $hr-divider;

        @include respond-to(xs) {
            font-size: calc(8px + 2vmin);
        }
        
        @include respond-to(m) {
            font-size: calc(8px + 1vmin);
        }
    }

    .list-group-item:hover {
        background-color: $contact-background;
    }

    .action-icon.add {
        color: $link-active;
    }

    .action-icon.add:hover {
        color: white;
        cursor: pointer;
    }

    .actions {
        float: right;

        .action-icon {
            margin-left: 1rem;
        }

        .action-icon.edit:hover {
            color: $link-secondary;
        }

        .action-icon.delete:hover {
            color: $error;
        }

        .disabled-action {
            color: $hr-divider;
            margin-left: 1rem;
        }
    }
}

.confirm-modal {
    font-family: 'Roboto', sans-serif;
    color: $dark-theme;

    .modal-title {
        font-size: calc(12px + 2vmin);
    }
}

.activate-component {
    text-align: center;
    margin-bottom: 2rem;
}

.step-button {
    margin: 2rem;
    text-align: center;
}

.previous-button {
    margin-right: 1rem;
}