@import '../../../../assets/style/colors';

.AddItem {
    color: $dark-theme;
    font-family: 'Roboto', sans-serif;
    text-align: center;

    .slot-container {
        display: flex;
        justify-content: center;
    }

    .item-error {
        color: $error;
        text-align: center;
    }

    .item-button {
        margin-top: 1rem;
    }
}