@import '../../../../../assets/style/breakpoints';
@import '../../../../../assets/style/colors';
@import '../../../../../assets/style/vars';

.FamiliarPreset {
    font-family: 'Roboto', sans-serif;
    padding-left: 15vh;
    padding-right: 15vh;

    h5 {
        text-align: center;
    }

    .familiar-container {
        text-align: center;
        margin-bottom: 3rem;
    }

    .familiar-inventory-container {
        display: flex;
        justify-content: center;

        .familiar-inventoryContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 200px;

            .inventory-slot {
                background-image: url("/static_images/RSTools/Familiar_inventory_interface.png");
                background-repeat: no-repeat;
                background-size: cover;
                text-align: center;
                width: 48px;
                height: 41px;
                margin-bottom: 2px;
                margin-right: 2px;
        
                .inventory-img {
                    text-align: center;
                    padding: 3px 3px 0 3px;
                    width: 46px;
                    height: 38px;
                }

                .inventory-img:hover {
                    background-color: $slot-hover;
                }
        
                &.selected {
                    outline: 2px solid $selected-slot-border;
                }
            }
        
            .inventory-slot:hover {
                background-color: $slot-hover;
            }
        }
    }

    .clear-slot {
        text-align: center;
        margin-bottom: 1rem;
    }

    .scrollable-list {
        max-height: 25vh;
        overflow-y: auto;
    }

    .list-group-item {
        background-color: $body-background;
        border-color: $hr-divider;

        @include respond-to(xs) {
            font-size: calc(8px + 2vmin);
        }
        
        @include respond-to(m) {
            font-size: calc(8px + 1vmin);
        }
    }

    .list-group-item:hover {
        background-color: $contact-background;
    }

    .action-icon.add {
        color: $link-active;
    }

    .action-icon.add:hover {
        color: white;
        cursor: pointer;
    }

    .actions {
        float: right;

        .action-icon {
            margin-left: 1rem;
        }

        .action-icon.edit:hover {
            color: $link-active;
        }

        .action-icon.delete:hover {
            color: $error;
        }

        .disabled-action {
            color: $hr-divider;
            margin-left: 1rem;
        }
    }
}

.confirm-modal {
    font-family: 'Roboto', sans-serif;
    color: $dark-theme;

    .modal-title {
        font-size: calc(12px + 2vmin);
    }
}

.activate-component {
    text-align: center;
    margin-bottom: 2rem;
}

.previous-button {
    margin-right: 1rem;
}

.step-button {
    margin-top: 2rem;
    text-align: center;
}

.item-slot-name {
    color: #c3e8a3
}

.item-slot-perks {
    color: #aad9f5
}