@import '../../../assets/style/colors';
@import '../../../assets/style/breakpoints';

.navbar {
    font-size: 16px;
    line-height: 50px;
    font-family: din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;

    a:hover {
        text-decoration: none;
    }

    .navbar-toggler {
        border-color: $primary-theme;
    }

    .navbar-logout {
        margin-left: auto;
    }

    .custom-icon-link {
        color: $button-primary;
    }

    .custom-icon-link:hover {
        color: $button-primary-hover;
    }
}
