@import '../../../assets/style/colors';
@import '../../../assets/style/breakpoints';

.navbar {
    font-size: 16px;
    line-height: 50px;
    font-family: din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;

    a:hover {
        text-decoration: none;
    }
}
