@import '../../../../../assets/style/breakpoints';
@import '../../../../../assets/style/colors';
@import '../../../../../assets/style/vars';

.AdminDashIcons {
    @include respond-to(xs) {
        min-height: $minHeightDesktop; /* Fallback for browsers that do not support Custom Properties */
        min-height: $minHeightMobile;
    }
    
    @include respond-to(m) {
        min-height: $minHeightDesktop;
    }

    .content {
        padding-top: 5vh;
        padding-bottom: 5vh;
        font-family: 'Roboto', sans-serif;

        .icon-row {
            margin-bottom: 2rem;

            .filter-text {
                @include respond-to(xs) {
                    margin-left: 0;
                    margin-right: 2rem;
                }
                
                @include respond-to(m) {
                    margin-left: 2rem;
                    margin-right: 1rem;
                }
            }

            .filter-text.first {
                margin-left: 0;
            }

            .add-icon {
                float: right;
            }

            .small-newline {
                @include respond-to(xs) {
                    display: block;
                    margin-bottom: 1rem;
                }
                
                @include respond-to(m) {
                    display: none;
                }
            }

            .icon-button-col {
                @include respond-to(xs) {
                    display: none;
                }
                
                @include respond-to(m) {
                    display: block;
                }
            }
        }

        .small-icon-row {
            margin-bottom: 2rem;

            @include respond-to(xs) {
                display: block;
            }
            
            @include respond-to(m) {
                display: none;
            }

            .add-icon {
                // float: right;
            }
        }

        .list-group-item {
            background-color: $body-background;
            border-color: $hr-divider;
            
            @include respond-to(xs) {
                font-size: calc(8px + 2vmin);
            }
            
            @include respond-to(m) {
                font-size: calc(8px + 1vmin);
            }
        }

        .list-group-item:hover {
            background-color: $contact-background;
        }

        .actions {
            float: right;

            .action-icon {
                margin-left: 1rem;
            }

            .action-icon.edit:hover {
                color: $link-secondary;
            }

            .action-icon.delete:hover {
                color: $error;
            }
        }
    }
}