@import '../../../../assets/style/breakpoints';
@import '../../../../assets/style/vars';
@import '../../../../assets/style/colors';

.FarmRunBuilder {
    @include respond-to(xs) {
        min-height: $minHeightDesktop; /* Fallback for browsers that do not support Custom Properties */
        min-height: $minHeightMobile;
    }
    
    @include respond-to(m) {
        min-height: $minHeightDesktop;
    }

    padding-top: 5vh;
    padding-bottom: 5vh;
    font-family: 'Roboto', sans-serif;

    .farm-header {
        text-align: center;
        display: flow-root;
        margin-bottom: 2rem;

        h3 {
            display: inline-block;
        }
    }

    .select-preset-container {
        text-align: center;
    }

    .list-group-item {
        background-color: $body-background;
        border-color: $hr-divider;

        @include respond-to(xs) {
            font-size: calc(8px + 2vmin);
        }
        
        @include respond-to(m) {
            font-size: calc(8px + 1vmin);
        }
    }

    .preset-list-group-item:hover {
        background-color: $contact-background;
    }

    .step-list-item {
        padding: 0;
    }

    .step-list-item:hover {
        background-color: unset;
    }
    
    .action-icon.add {
        color: $link-active;
    }

    .action-icon.add:hover {
        color: white;
        cursor: pointer;
    }

    .actions {
        float: right;

        .action-icon {
            margin-left: 1rem;
        }

        .action-icon.edit:hover {
            color: $link-active;
        }

        .action-icon.delete:hover {
            color: $error;
        }

        .disabled-action {
            color: $hr-divider;
            margin-left: 1rem;
        }
    }

    .farm-error {
        color: $error;
        text-align: center;
    }

    .farm-submit {
        width: 100%;
        text-align: center;
        margin-top: 1rem;
    }

    .divider {
        border-top-color: $hr-divider;
    }
}

.preset-modal {
    font-family: 'Roboto', sans-serif;
    color: $dark-theme;

    .modal-title {
        font-size: calc(12px + 2vmin);
    }

    .preset-overview {
        margin-left: 5rem;
        margin-right: 5rem;
    }
}