@import '../../../../../assets/style/breakpoints';
@import '../../../../../assets/style/colors';
@import '../../../../../assets/style/vars';

.EquipmentPreset {
    font-family: 'Roboto', sans-serif;
    padding-left: 15vh;
    padding-right: 15vh;

    h5 {
        text-align: center;
    }

    .slot-container {
        display: flex;
        justify-content: center;

        .slotContainer {
            display: inline-block;
            background-image: url("/static_images/RSTools/Worn_equipment_interface.png");
            background-repeat: no-repeat;
            background-size: cover;
            width: 270px;
            height: 427px;

            .slots {
                position: relative;
                height: 100%;

                .slot-image {
                    height: 44px;
                    width: 44px;
                }

                .slot {
                    display: block;
                    position: absolute;
                    border: unset;
                    height: 44px;
                    width: 44px;
                }
    
                .selected {
                    outline: 2px solid $selected-slot-border;
                }

                .slotSet {
                    background-color: #061821;
                }
    
                .slot:hover {
                    background-color: $slot-hover;
                }

                .left {
                    &-1 {
                        left: slot(left-slot1);
                    }

                    &-2 {
                        left: slot(left-slot2);
                    }

                    &-3 {
                        left: slot(left-slot3);
                    }

                    &-4 {
                        left: slot(left-slot4);
                    }

                    &-5 {
                        left: slot(left-slot5);
                    }
                }

                .top {
                    &-1 {
                        top: slot(top-row1);
                    }

                    &-2 {
                        top: slot(top-row2);
                    }

                    &-3 {
                        top: slot(top-row3);
                    }

                    &-4 {
                        top: slot(top-row4);
                    }

                    &-5 {
                        top: slot(top-row5);
                    }
                }
            }
        }
    }

    .clear-slot {
        text-align: center;
        margin-bottom: 1rem;
    }

    .scrollable-list {
        max-height: 25vh;
        overflow-y: auto;
    }

    .list-group-item {
        background-color: $body-background;
        border-color: $hr-divider;

        @include respond-to(xs) {
            font-size: calc(8px + 2vmin);
        }
        
        @include respond-to(m) {
            font-size: calc(8px + 1vmin);
        }
    }

    .list-group-item:hover {
        background-color: $contact-background;
    }

    .action-icon.add {
        color: $link-active;
    }

    .action-icon.add:hover {
        color: white;
        cursor: pointer;
    }

    .actions {
        float: right;

        .action-icon {
            margin-left: 1rem;
        }

        .action-icon.edit:hover {
            color: $link-active;
        }

        .action-icon.delete:hover {
            color: $error;
        }

        .disabled-action {
            color: $hr-divider;
            margin-left: 1rem;
        }
    }
}

.confirm-modal {
    font-family: 'Roboto', sans-serif;
    color: $dark-theme;

    .modal-title {
        font-size: calc(12px + 2vmin);
    }
}

.activate-component {
    text-align: center;
    margin-bottom: 2rem;
}

.step-button {
    margin: 2rem;
    text-align: center;
}

.item-slot-name {
    color: #c3e8a3
}

.item-slot-perks {
    color: #aad9f5
}