@import '../../../../assets/style/colors';

.EditAbilityBar {
    color: $dark-theme;
    font-family: 'Roboto', sans-serif;
    text-align: center;

    .ability-error {
        color: $error;
        text-align: center;
    }

    .ability-button {
        margin-top: 1rem;
    }

    .style-image {
        width: 32px;
        height: 32px;
    }
}