/* Made with love by Mutiullah Samim*/

html,body***REMOVED***
    height: 100%;
    background-color: #282c34;
    font-family: 'sans-serif', sans-serif;
***REMOVED***

.container***REMOVED***
    margin-top: 100px;
    height: 100%;
    align-content: center;
***REMOVED***

.card***REMOVED***
height: auto;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
***REMOVED***

.social_icon span***REMOVED***
font-size: 60px;
margin-left: 10px;
color: #FFC312;
***REMOVED***

.social_icon span:hover***REMOVED***
color: white;
cursor: pointer;
***REMOVED***

.card-header h3***REMOVED***
color: white;
***REMOVED***

.social_icon***REMOVED***
position: absolute;
right: 20px;
top: -45px;
***REMOVED***

.input-group-prepend span***REMOVED***
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
***REMOVED***

input:focus***REMOVED***
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

***REMOVED***

.remember***REMOVED***
color: white;
***REMOVED***

.remember input
***REMOVED***
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
***REMOVED***

.login_btn***REMOVED***
color: black;
background-color: #FFC312;
width: 100px;
***REMOVED***

.login_btn:hover***REMOVED***
color: black;
background-color: white;
***REMOVED***

.links***REMOVED***
color: white;
***REMOVED***

.links a***REMOVED***
margin-left: 4px;
***REMOVED***

.card-errors ***REMOVED***
    color: red;
    text-align: center;
***REMOVED***