@import '../../../../assets/style/breakpoints';
@import '../../../../assets/style/vars';
@import '../../../../assets/style/colors';

.FarmRun {
    @include respond-to(xs) {
        min-height: $minHeightDesktop; /* Fallback for browsers that do not support Custom Properties */
        min-height: $minHeightMobile;
    }
    
    @include respond-to(m) {
        min-height: $minHeightDesktop;
    }

    padding-top: 5vh;
    padding-bottom: 5vh;
    font-family: 'Roboto', sans-serif;

    .rsMap {
        

        .leaflet-control-plane .leaflet-bar .leaflet-control {
            display: none;
        }
    }

    h3 {
        text-align: center;
    }

    .farm-header {
        width: 100%;
        display: flow-root;

        .edit { 
            float: right;
        }
    }

    .step-icon {
        margin-right: 1rem;
    }

    .web {
        text-align: end;
    }

    .notes {
        text-align: center;
        font-size: calc(8px + 1.5vmin);
    }

    .card {
        background-color: $daily-card-background;

        .card-header {
            font-size: calc(8px + 2vmin);
        }

        .card-header:hover {
            background-color: $daily-card-title-hover;
        }

        .card-text {
            font-size: calc(8px + 1.5vmin);
        }

        .step-number {
            color: $section-number;
            font-size: calc(8px + .75vmin);
        }

        .card-img {
            width: unset;
        }
    }
}

.leaflet-control-mapselector.leaflet-control {
    display: none;
}

.leaflet-popup-pane, .leaflet-control {
    display: none;
}

.leaflet-control-container {
    display: none;
}