@import '../../../assets/style/breakpoints';

.Contact {
    .contact-form {
        @include respond-to(xs) {
            width: 80%
        }
        
        @include respond-to(m) {
            width: 60%
        }

        .contact-errors {
            color: red;
            padding-bottom: 1rem;
        }
    }
}