@import '../../../../../assets/style/colors';

.EditItem {
    color: $dark-theme;
    font-family: 'Roboto', sans-serif;
    text-align: center;

    .item-error {
        color: $error;
        text-align: center;
    }

    .augment-button {
        display: block;
    }

    .image-button {
        margin-top: 1rem;
        display: block;
    }

    .item-button {
        margin-top: 1rem;
    }
}