@import '../../../assets/style/breakpoints';
@import '../../../assets/style/colors';
@import '../../../assets/style/vars';

.ResumeHome {
    .home {
        @include respond-to(xs) {
            min-height: $minHeightDesktop; /* Fallback for browsers that do not support Custom Properties */
            min-height: $minHeightMobile;
        }
        
        @include respond-to(m) {
            min-height: $minHeightDesktop;
        }

        .content {
            margin-top: 10vh;

            @include respond-to(xs) {
                min-height: $minHeightMobile;
                padding-right: 10vw;
                padding-left: 10vw;
            }
            
            @include respond-to(m) {
                min-height: $minHeightDesktop;
                padding-right: 15px;
                padding-left: 15px;
            }

            .main-head {
                font-family: 'Krona One', sans-serif;
                text-shadow:  1px 1px 1px #000;
                -webkit-font-smoothing: antialiased;
    
                @include respond-to(xs) {
                    font-size: calc(40px + 1vmin);
                }
                
                @include respond-to(m) {
                    font-size: calc(65px + 1vmin);
                }
            }
        
            .sub-head {
                font-family: 'Arya', sans-serif;
                text-shadow:  1px 1px 1px #000;
                -webkit-font-smoothing: antialiased;
    
                @include respond-to(xs) {
                    margin-top: 2rem;
                    font-size: calc(25px + 1vmin);
                }
                
                @include respond-to(m) {
                    margin-top: 5rem;
                    font-size: calc(40px + 1vmin);
                }
            }
            
            .profileImgContainer {
                justify-content: flex-end;
                display: flex;

                .profileImg {
                    border: 6px solid white;
                    background-color: $resume-body;

                    @include respond-to(xs) {
                        width: 150px; 
                        height: 150px;
                    }
    
                    @include respond-to(m) {
                        width: 400px; 
                        height: 400px;
                    }
                }
            }

            .aboutme {
                position: absolute;
                bottom: 0;
                z-index: 1;
                padding: 1rem;
                margin-left: 15px;
                margin-right: 15px;
                background-color: $body-background;
                border-radius: 20px 20px 0px 0px;

                @include respond-to(xs) {
                    left: 5%;
                    right: 5%;
                }
                
                @include respond-to(m) {
                    left: 20%;
                    right: 20%;
                }

                .aboutme-text {
                    display: flex;
                    text-align: center;
                    font-family: 'Roboto', sans-serif;
                    font-size: calc(12px + 1vmin);
                    line-height: 1.5rem;
                    white-space: pre-line;
                }
            }
        }
    }

    .centered-button-container {
        justify-content: center;
        display: flex;
    }

    .aboutme-mobile {
        text-align: center;
        padding: 1rem;
        background-color: $body-background;
        font-family: 'Roboto', sans-serif;;
        font-size: calc(12px + 0.5vmin);
        line-height: 1.5rem;
        white-space: pre-line;
    }

    .center-head {
        display: flex;
        justify-content: center;
        width: 100%;

        .body-head {
            font-family: 'Arya', sans-serif;
            z-index: 1;
    
            @include respond-to(xs) {
                font-size: calc(25px + 1vmin);
            }
            
            @include respond-to(m) {
                font-size: calc(40px + 1vmin);
            }
        }

        .body-sub-head {
            font-family: 'Roboto', sans-serif;
            z-index: 1;
    
            @include respond-to(xs) {
                font-size: calc(15px + 1vmin);
            }
            
            @include respond-to(m) {
                font-size: calc(20px + 1vmin);
            }
        }
    
        .section-number {
            color: $section-number;
        }
    }

    .body-text {
        color: $resume-body;

        @include respond-to(xs) {
            font-size: calc(15px + 1vmin);
        }
        
        @include respond-to(m) {
            font-size: calc(12px + 1vmin);
        }
    }

    .divider {
        border-top-color: $hr-divider;
    }

    .professional {
        @include respond-to(xs) {
            min-height: $minHeightDesktop; /* Fallback for browsers that do not support Custom Properties */
            min-height: $minHeightMobile;
        }
        
        @include respond-to(m) {
            min-height: $minHeightDesktop;
        }

        .content {
            margin-top: 10vh;
            margin-bottom: 10vh;

            .bar-head {
                display: flex;
                justify-content: flex-end;
            }

            .bar {
                height: 100%;
                padding-top: 0.2rem;
                padding-bottom: 0.2rem;

                .progress {
                    height: 100%;
                    background-color: $resume-body;
                }

                .progress-bar {
                    transition: width 2s ease-in-out;
                }
            }

            .bar-end {
                display: flex;
            }
        }
    }

    .experience {
        @include respond-to(xs) {
            min-height: $minHeightDesktop; /* Fallback for browsers that do not support Custom Properties */
            min-height: $minHeightMobile;
        }
        
        @include respond-to(m) {
            min-height: $minHeightDesktop;
        }

        background-position: center center;
        background-size: cover;
        background-image: url("/static_images/mountain.jpg"); /* Fallback for browsers that do not support Custom Properties */
        background-image: linear-gradient(rgba($color: $body-background, $alpha: 0.65), rgba($color: $body-background, $alpha: 0.65)), url("/static_images/mountain.jpg");

        .content {
            padding-top: 10vh;
            padding-bottom: 10vh;

            .vertical-timeline.vertical-timeline-custom-line::before {
                background: $timeline-line;
            }

            .vertical-timeline-element-content-arrow {
                border-Right: 7px solid $resume-body;
            }

            .vertical-timeline-element-title.title {
                font-family: 'Arya', sans-serif;
                color: $body-font;
            }

            .vertical-timeline-element-subtitle.subtitle {
                font-family: 'Roboto', sans-serif;
                color: $body-font;
            }

            .timeline-date {
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
                padding-top: 0;
                padding-bottom: 0;

                @include respond-to(xs) {
                    font-size: calc(15px + 1vmin);
                }
                
                @include respond-to(m) {
                    font-size: calc(20px + 1vmin);
                }
            }

            .timeline-icon {
                color: $resume-body;
                background-color: $body-background;
                box-shadow: none;
                border: 2px solid $resume-body;
            }

            .timeline-container {
                font-family: 'Roboto', sans-serif;
                color: $resume-body;
                background-color: $body-background;
                box-shadow: none;
                border: 2px solid $resume-body;
            }

            .timeline-circle {
                position: absolute;
                color: $resume-body;
                background-color: $timeline-line;
                border-radius: 50%;
                height: 24px;
                width: 24px;
                z-index: 1;
            }

            .timeline-circle.top {
                @include respond-to(xs) {
                    left: 8px;
                    top: 0;
                }
                
                @include respond-to(lg) {
                    left: calc(50% - 12px);
                    top: 0;
                }
            }

            .timeline-circle.bottom {
                @include respond-to(xs) {
                    left: 8px;
                    bottom: 0;
                }
                
                @include respond-to(lg) {
                    left: calc(50% - 12px);
                    bottom: 0;
                }
            }
        }
    }

    .portfolio {
        @include respond-to(xs) {
            min-height: $minHeightDesktop; /* Fallback for browsers that do not support Custom Properties */
            min-height: $minHeightMobile;
        }
        
        @include respond-to(m) {
            min-height: $minHeightDesktop;
        }

        .content {
            padding-top: 10vh;
            padding-bottom: 10vh;

            .portfolio-image-container {
                @include respond-to(xs) {
                    margin-left: 25px;
                    margin-right: 25px;
                }
                
                @include respond-to(m) {
                    padding-left: 0;
                    padding-right: 0;
                    margin-left: 0;
                    margin-right: 0;
                    -webkit-transition: all 1s ease;
                    -moz-transition: all 1s ease;
                    -o-transition: all 1s ease;
                    -ms-transition: all 1s ease;
                    transition: all 1s ease;
                }

                box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.4);
                background-color: $resume-body;
                background-position: center center;
                background-size: cover;
                padding-top: auto;
                padding-bottom: auto;

                &.first {
                    background-image: url("/static_images/project1.jpg"); /* Fallback for browsers that do not support Custom Properties */
                    background-image: linear-gradient(rgba($color: $body-background, $alpha: 0.5), rgba($color: $body-background, $alpha: 0.5)), url("/static_images/project1.jpg");
                }

                &.second {
                    background-image: url("/static_images/project2.jpeg"); /* Fallback for browsers that do not support Custom Properties */
                    background-image: linear-gradient(rgba($color: $body-background, $alpha: 0.5), rgba($color: $body-background, $alpha: 0.5)), url("/static_images/project2.jpeg");
                }

                &.third {
                    background-image: url("/static_images/project3.jpg"); /* Fallback for browsers that do not support Custom Properties */
                    background-image: linear-gradient(rgba($color: $body-background, $alpha: 0.5), rgba($color: $body-background, $alpha: 0.5)), url("/static_images/project3.jpg");
                }

                .portfolio-link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100%;

                    font-family: 'Roboto', sans-serif;
                    color: $body-font;
                    text-decoration: none;
                    text-shadow:  1px 1px 1px #000;
                    -webkit-font-smoothing: antialiased;
                    overflow: hidden;
                    text-align: center;

                    @include respond-to(xs) {
                        font-size: calc(25px + 1vmin);
                        padding: 20% 5% 20% 5%;
                    }
                    
                    @include respond-to(m) {
                        font-size: calc(40px + 1vmin);
                        padding: 25% 5% 25% 5%;
                    }
                }
            }

            .portfolio-image-container:hover {
                text-decoration: none;

                @include respond-to(m) {
                    -webkit-filter: brightness(70%);
                    filter: brightness(70%);
                }
            }
        }
    }

    .contact {
        @include respond-to(xs) {
            min-height: $minHeightDesktop; /* Fallback for browsers that do not support Custom Properties */
            min-height: $minHeightMobile;
        }
        
        @include respond-to(m) {
            min-height: $minHeightDesktop;
        }

        .content {
            .contact-head {
                z-index: 1;
                position: absolute;
                background-color: $body-background;
                top: 0;
                left: 0;
                right: 0;
                bottom: 65%;
            }

            .contact-container {
                z-index: 2;
                position: relative;
                display: flex;
                background-color: $contact-background;
                box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.4);
                border-radius: 20px;

                @include respond-to(xs) {
                    padding: 3%;   
                    margin-top: 5%;  
                }

                @include respond-to(m) {
                    padding: 3%;   
                    margin-top: 5%;  
                }
                
                @include respond-to(lg) {
                    padding: 5%;   
                    margin-top: 10%;  
                }          
            }
        }
    }
}
