@import '../../../assets/style/breakpoints';

.ResumeHome {
    .home {
        min-height: calc(100vh - 77px);

        .content {
            text-align: left;
            display: flex;
            min-height: calc(100vh - 77px);
            flex-direction: column;
            margin-left: 3rem;
            margin-right: 3rem;
            justify-content: center;
            // need to figure out font styling.. diff from wix
            .main-header {
                font-family: lulo-clean-w01-one-bold, sans-serif;
                font-size: calc(65px + 3vmin);
            }
        
            .main-sub-header {
                font-family: avenir-lt-w01_35-light1475496, sans-serif;
                font-size: calc(30px + 1vmin);
            }
        }

        background-image: url("/tokyo_night_city.jpg");
        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .temp-disclaim {
        color: grey;
        margin-Bottom: 3rem;
    }

    .small-font {
        font-size: calc(10px + 1vmin);
    }
}

.temp-footer {
    background-color: lightgray;
    color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%
}