
@import '../../../../assets/style/breakpoints';
@import '../../../../assets/style/vars';
@import '../../../../assets/style/colors';

.Daily {
    @include respond-to(xs) {
        min-height: $minHeightDesktop; /* Fallback for browsers that do not support Custom Properties */
        min-height: $minHeightMobile;
    }
    
    @include respond-to(m) {
        min-height: $minHeightDesktop;
    }

    padding-top: 5vh;
    padding-bottom: 5vh;
    font-family: 'Roboto', sans-serif;
    
    .button-header {
        display: flow-root;
        margin-bottom: 2rem;

        .add-daily {
            float: right;
        }
    }

    .card {
        background-color: $daily-card-background;

        .card-header {
            font-size: calc(8px + 2vmin);
        }

        .card-header:hover {
            background-color: $daily-card-title-hover;
        }

        .card-text {
            font-size: calc(8px + 1.5vmin);
        }

        .step-number {
            color: $section-number;
            font-size: calc(8px + .75vmin);
        }

        .card-img {
            width: unset;
        }
    }

    .daily-complete {
        height: 4.5rem;
        width: 4.5rem;
        margin-left: -1.25rem;
        margin-top: -0.75rem;
        margin-bottom: -0.75rem;
        margin-right: 2rem;
        font-size: 1.33em;
    }

    .step-container {
        margin-bottom: 1rem;
    }

    .actions {
        float: right;

        .action-icon {
            margin-left: 1rem;
        }

        .action-icon.edit:hover {
            color: $link-active;
        }

        .action-icon.delete:hover {
            color: $error;
        }
    }

    
}

.daily-modal {
    font-family: 'Roboto', sans-serif;
    color: $dark-theme;

    .modal-title {
        font-size: calc(12px + 2vmin);
    }
}