@import '../../../../../assets/style/breakpoints';
@import '../../../../../assets/style/colors';
@import '../../../../../assets/style/vars';

.PresetOverview {
    font-family: 'Roboto', sans-serif;
}

.step-button {
    margin: 2rem;
    text-align: center;
}