@import '../../../../../assets/style/breakpoints';
@import '../../../../../assets/style/colors';
@import '../../../../../assets/style/vars';

.PresetOverview {
    font-family: 'Roboto', sans-serif;
    margin-left: 5vw;
    margin-right: 5vw;

    .row-container {
        display: inline-flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .slot-container {
        .slotContainer {
            display: inline-block;
            background-image: url("/static_images/RSTools/Worn_equipment_interface.png");
            background-repeat: no-repeat;
            background-size: cover;
            width: 270px;
            height: 427px;

            .slots {
                position: relative;
                height: 100%;

                .slot-image {
                    height: 44px;
                    width: 44px;
                    object-fit: contain;
                }

                .slot {
                    display: block;
                    position: absolute;
                    border: unset;
                    height: 44px;
                    width: 44px;
                }
    
                .slotSet {
                    background-color: #061821;
                }
    
                .left {
                    &-1 {
                        left: slot(left-slot1);
                    }

                    &-2 {
                        left: slot(left-slot2);
                    }

                    &-3 {
                        left: slot(left-slot3);
                    }

                    &-4 {
                        left: slot(left-slot4);
                    }

                    &-5 {
                        left: slot(left-slot5);
                    }
                }

                .top {
                    &-1 {
                        top: slot(top-row1);
                    }

                    &-2 {
                        top: slot(top-row2);
                    }

                    &-3 {
                        top: slot(top-row3);
                    }

                    &-4 {
                        top: slot(top-row4);
                    }

                    &-5 {
                        top: slot(top-row5);
                    }
                }
            }
        }
    }

    .inventory-container {
        padding-left: 10px;

        .inventoryContainer {
            display: inline-block;
            background-image: url("/static_images/RSTools/Inventory_interface.png");
            background-repeat: no-repeat;
            background-size: cover;
            width: 226px;
            height: 427px;
            
            .inventory-slots-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                position: relative;
                top: 51px;
                left: 11px;
                width: 210px;

                .inventory-slot {
                    text-align: center;
                    width: 48px;
                    height: 41px;
                    margin-bottom: 6px;
                    margin-right: 4px;
            
                    .inventory-img {
                        text-align: center;
                        padding: 3px 3px 0 3px;
                        width: 42px;
                        height: 38px;
                        object-fit: contain;
                    }
            
                    &.selected {
                        outline: 2px solid $selected-slot-border;
                    }
                }
            }
        }
    }

    .summon-container {
        padding-left: 10px;
        min-width: 200px;

        .summon-inventoryContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 200px;
            margin-top: 48px;

            .summon-slot {
                background-image: url("/static_images/RSTools/Familiar_inventory_interface.png");
                background-repeat: no-repeat;
                background-size: cover;
                text-align: center;
                width: 48px;
                height: 41px;
                margin-bottom: 2px;
                margin-right: 2px;
        
                .inventory-img {
                    text-align: center;
                    padding: 3px 3px 0 3px;
                    width: 42px;
                    height: 38px;
                    object-fit: contain;
                }
            }
        }

        .summon-image-container {
            width: 100%;
            text-align: center;
            margin-top: 48px;
        }
    }

    .abilityBar-container {
        display: flex;
        justify-content: center;

        .abilityBar {
            background-image: url("/static_images/RSTools/Empty_action_bar.png");
            background-repeat: no-repeat;
            background-size: cover;
            width: 530px;
            height: 76px;

            .style-img-container {
                margin-top: 41px;
                margin-left: 7px;

                .style-img {
                    margin-right: 6px;
                }
            }
            
        }
    }

    .prayer-container {
        display: flex;
        justify-content: center;

        .prayerContainer {
            text-align: center;

            .prayer-img {
                width: 34px;
                height: 34px;
                margin-right: 5px;
                border: 2px solid transparent;
                border-radius: 50%;
            }
        }
    }
}

.step-button {
    margin: 2rem;
    text-align: center;
}

.item-slot-name {
    color: #c3e8a3
}

.item-slot-perks {
    color: #aad9f5
}