@import 'assets/style/custom';

.loading {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.is-active-link {
    color: $link-active;
}

.is-active-link:hover {
    color: $link-active;
    text-decoration: none;
}
