@import '../../../../../assets/style/colors';

.EditAbilityBar {
    color: $dark-theme;
    font-family: 'Roboto', sans-serif;
    text-align: center;

    .ability-error {
        color: $error;
        text-align: center;
    }

    .ability-button {
        margin-top: 1rem;
    }

    .style-image {
        width: 32px;
        height: 32px;
    }

    .presetSubmit {
        margin-right: 1rem;
    }
}

.confirm-modal {
    font-family: 'Roboto', sans-serif;
    color: $dark-theme;

    .modal-title {
        font-size: calc(12px + 2vmin);
    }

    .small-text {
        font-size: calc(6px + 1vmin);
    }
}